.about-us {
  color: #000000;

  .about-us__title {
    @include font(25px, 30px);
    font-weight: 700;
  }

  .about-us__list {
    @include reset-list;
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    .about-us__title {
      @include font(43px, 50px);
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    .about-us__inner {
      padding: 0 175px;
    }

    .about-us__title {
      @include font(53px, 57px);
    }
  }
}
