.about-us {
  color: #000000;
  margin-bottom: 55px;

  .about-us__title {
    @include font(25px, 30px);
    font-weight: 700;
    margin: 0 0 32px;
  }

  .about-us__list {
    @include reset-list;
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-bottom: 25px;

    .about-us__title {
      @include font(43px, 50px);
      margin-left: -5px;
      margin-bottom: 49px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    margin-bottom: 30px;

    .about-us__inner {
      padding: 0 225px;
    }

    .about-us__title {
      @include font(53px, 57px);
    }
  }
}
