.btn {
  @include font(18px, 20px);
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  display: inline-block;
  border: 2px solid #444444;
  padding: 18px 39px;
  text-align: center;
  background-color: #ffffff;
}
