.contacts {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 91px;
  position: relative;

  .contacts__title {
    margin-bottom: 40px;
    text-align: left;
  }

  .contacts__info {
    text-align: left;
  }

  .contacts__mail-name,
  .contacts__address-name {
    margin-right: 25px;
  }

  .contacts__mail,
  .contacts__address {
    margin-bottom: 40px;
  }

  .contacts__mail-value {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #62d1ba;
  }

  .contacts__address {
    display: flex;
    align-items: flex-start;
  }

  .contacts__address-value {
    max-width: 150px;
  }

  .contacts__write-us {
    margin: 39px 0 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .contacts__map {
    min-height: 457px;
    background-color: red;
    width: $mobile-width;
    position: relative;
    margin-left: -$mobile-container-padding;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-bottom: 107px;

    .contacts__info {
      display: flex;
      justify-content: space-between;
    }

    .contacts__mail,
    .contacts__address {
      width: 50%;
    }

    .contacts__address-value {
      max-width: 200px;
    }

    .contacts__title {
      @include font(43px, 50px);
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::after {
        content: "";
        width: 47px;
        height: 81px;
        background-image: url("../img/icon-flag.svg");
      }
    }

    .contacts__write-us {
      margin-top: 55px;
    }

    .contacts__map {
      width: $tablet-width;
      margin-left: -$tablet-container-padding;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-bottom: 0;
    flex-direction: row;

    .contacts__title {
      @include font(53px, 57px);
      position: relative;

      &::after {
        position: absolute;
        left: -110px;
      }
    }

    .contacts__write-us {
      position: static;
      transform: none;
      align-self: flex-start;
    }

    .contacts__map {
      width: 525px;
      position: static;
      margin-left: 0;
    }

    .contacts__container {
      display: flex;
      justify-content: space-between;
    }

    .contacts__mail,
    .contacts__address {
      width: 100%;
    }

    .contacts__description {
      padding-left: 175px;
      text-align: left;
    }

    .contacts__info {
      display: block;
    }
  }
}
