.contacts {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  position: relative;
  margin-bottom: 39px;

  .contacts__title {
    @include font(18px, 30px);
    margin-top: 2px;
    margin-bottom: 26px;
    text-align: left;
  }

  .contacts__info {
    text-align: left;

    @include font(15px, 30px);
    margin-bottom: 37px;
  }

  .contacts__mail-name {
    margin-right: 25px;
  }

  .contacts__address-name {
    margin-right: 31px;
  }

  .contacts__mail {
    margin-bottom: 29px;
  }

  .contacts__mail-value {
    display: inline-block;
    border-bottom: 1px solid #62d1ba;
    color: #444444;

    &:hover {
      color: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .contacts__address {
    display: flex;
    align-items: flex-start;
  }

  .contacts__address-value {
    max-width: 150px;
    font-style: normal;
  }

  .contacts__write-us {
    margin: 39px 0 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 14px 49px;
  }

  .contacts__map {
    min-height: 457px;
    width: $mobile-width;
    position: relative;
    margin-left: -$mobile-container-padding;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-bottom: 107px;
    margin-bottom: 58px;

    .contacts__description {
      margin-bottom: 55px;
    }

    .contacts__info {
      display: flex;
      justify-content: space-between;
      font-size: 17px;
      margin-bottom: 0;
    }

    .contacts__mail,
    .contacts__address {
      width: 50%;
    }

    .contacts__address-value {
      max-width: 225px;
      margin-top: 0;
    }

    .contacts__title {
      @include font(43px, 50px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;
      margin-left: -4px;
      margin-top: 0;

      &::after {
        content: "";
        width: 46px;
        height: 81px;
        background-image: url("../img/icon-flag.svg");
        margin-right: 5px;
      }
    }

    .contacts__mail-name {
      margin-right: 20px;
    }

    .contacts__address-name {
      margin-right: 25px;
    }

    .contacts__write-us {
      @include font(17px, 20px);
      padding-left: 39px;
      padding-right: 39px;
    }

    .contacts__map {
      width: $tablet-width;
      margin-left: -$tablet-container-padding;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-bottom: 0;
    flex-direction: row;
    margin-bottom: 105px;

    .contacts__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
      padding-left: 175px;
      padding-top: 68px;
      text-align: left;
    }

    .contacts__title {
      @include font(53px, 57px);
      position: relative;
      margin-right: -5px;
      margin-bottom: 50px;

      &::after {
        position: absolute;
        left: -110px;
      }
    }

    .contacts__mail-value {
      line-height: 30px;
    }

    .contacts__write-us {
      margin-top: auto;
      position: static;
      transform: none;
      align-self: flex-start;
    }

    .contacts__map {
      width: 525px;
      position: static;
      margin-left: 0;
    }

    .contacts__container {
      display: flex;
      justify-content: space-between;
    }

    .contacts__mail,
    .contacts__address {
      width: 100%;
    }

    .contacts__mail {
      margin-bottom: 28px;
    }

    .contacts__info {
      display: block;
    }
  }
}
