.contacts {
  .contacts__title {
    margin-bottom: 40px;
  }

  .contacts__mail-name,
  .contacts__address-name {
    margin-right: 25px;
  }

  .contacts__mail,
  .contacts__address {
    margin-bottom: 40px;
  }

  .contacts__mail-value {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #62d1ba;
  }

  .contacts__address {
    display: flex;
    align-items: flex-start;
  }

  .contacts__address-value {
    max-width: 140px;
  }

  .contacts__write-us {
    margin: 39px 0;
  }
}
