.copyright {
  @include font(19px, 18px);
  font-weight: 700;
  color: #000000;
  padding: 15px 39px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .copyright-link__img {
    margin-top: 4px;
    fill: $aqua-color;
  }

  .copyright__text {
    margin-top: -4px;
  }

  &:hover {
    .copyright-link__img {
      fill: $footer-aqua-color;
    }
  }

  &:active {
    @include active-opacity();

    .copyright-link__img {
      fill: $footer-aqua-color;
    }
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    margin-top: -3px;

    .copyright-link__img {
      margin-left: 30px;
    }
  }
}
