.main-footer {
  background-color: #f1f1f1;
  padding: 25px 0 6px;

  .main-footer__logo-wrapper {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding: 35px 0 34px;

    .main-footer__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .main-footer__logo-wrapper {
      display: block;
      width: 180px;
    }

    .main-footer__logo-img {
      width: 102px;
      height: 34px;
      margin-top: -10px;
    }
  }
}
