.main-nav {
  .main-nav__list {
    @include reset-list;
    color: #000000;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;

    .main-nav__toggle {
      display: none;
    }
  }
}
