.main-promo {
  background-color: $bg-grey;

  &--secondary {
    margin-bottom: 30px;
  }

  .main-promo__title {
    @include font(27px, 30px);
    color: #000000;
    text-align: center;
    margin: 0 auto;

    &--secondary {
      margin-top: -5px;
    }
  }

  .main-promo__container {
    min-height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--index {
      display: block;
      padding-top: 70px;
      background-image: url("../img/hero-mobile@1x.jpg");
      background-color: #fafafa;
      background-repeat: no-repeat;
      background-position: center -18px;
      min-height: 282px;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-promo {
    margin-bottom: 10px;
    position: relative;

    &--secondary {
      margin-bottom: 79px;

      &::after {
        bottom: -13px;
      }
    }

    &::after {
      content: "";
      display: block;
      height: 23px;
      width: 100%;
      background-image: url("../img/bg-zigzag-fill.svg");
      position: absolute;
      bottom: -4px;
      background-size: contain;
      background-position: center center;
      background-repeat: repeat-x;
    }

    .main-promo__title {
      @include font(43px, 50px);
      width: 500px;

      &--secondary {
        margin-top: 0;
        padding-top: 95px;
      }
    }

    .main-promo__container {
      align-items: flex-start;
      min-height: 225px;

      &--index {
        padding-top: 153px;
        background-image: url("../img/hero-tablet@1x.jpg");
        background-position: center -1px;
        min-height: 626px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-promo {
    &--secondary {
      margin-bottom: 127px;
      min-height: 255px;

      &::after {
        bottom: -8px;
      }
    }

    &::after {
      height: 37px;
      bottom: -11px;
    }

    .main-promo__container {
      &--index {
        background-image: url("../img/hero-desktop@1x.jpg");
      }
    }

    .main-promo__title {
      @include font(53px, 57px);
      width: 620px;
    }
  }
}
