.main-header {
  background-color: #ffffff;
  height: 80px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  .main-header__toggle {
    width: 22px;
    height: 22px;
    border: none;
    position: absolute;
    top: 27px;
    right: $mobile-container-padding;
    background-color: transparent;
    background-image: url("../img/icon-menu-open.svg");
    background-position: center center;
    background-repeat: no-repeat;
    transition: background $transition-duration linear;
  }

  .main-header__nav,
  .main-header__user-block,
  .main-header__delivery,
  .main-header__search-text {
    display: none;
  }

  .main-header__logo-img {
    display: block;
  }

  .main-header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
  }

  &--opened {
    height: auto;
    min-height: 80px;

    .main-header__container {
      padding: 0;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: auto;
      z-index: 1;
    }

    .main-header__logo-wrapper {
      min-height: 80px;
      display: flex;
      align-items: center;
    }

    .main-header__nav,
    .main-header__user-block {
      display: block;
      background: #ffffff;
      width: 100%;
    }

    .main-header__toggle {
      background-image: url("../img/icon-menu-close.svg");
    }
  }
}

@media (max-width: $mobile-width-only) {
  .main-header {
    &--nojs {
      height: auto;
      min-height: 80px;

      .main-header__container {
        padding: 0;
        position: static;
        transform: none;
      }

      .main-header__logo-wrapper {
        min-height: 80px;
        display: flex;
        align-items: center;
      }

      .main-header__nav,
      .main-header__user-block {
        display: block;
        background: #ffffff;
        width: 100%;
      }

      .main-header__toggle {
        display: none;
      }

      .main-header__nav {
        border-top: 1px solid #ececec;
      }

      .main-header__user-block-link {
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    height: 89px;
    border-top: none;

    .main-header__container {
      justify-content: space-between;
      align-items: stretch;
    }

    .main-header__toggle {
      display: none;
    }

    .main-header__logo-wrapper {
      width: 115px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
    }

    .main-header__logo-img {
      width: 113px;
      height: 46px;
      margin-top: 2px;
      margin-left: -1px;
    }

    .main-header__user-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      order: 2;
      height: 100%;
    }

    .main-header__delivery {
      display: block;
      order: 4;
      margin: 20px 0;
      z-index: 2;
    }

    .main-header__nav {
      display: block;
      width: 50%;
      order: 3;
      height: 100%;
      z-index: 2;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    .main-header__nav {
      width: 374px;
      order: 1;
    }

    .main-header__logo-wrapper {
      width: 150px;
      order: 2;
      margin-left: -20px;

      &:hover {
        @include hover-opacity();
      }

      &:active {
        @include active-opacity();
      }
    }

    .main-header__logo-img {
      width: 149px;
      height: 72px;
    }

    .main-header__delivery {
      margin-left: auto;
    }
  }
}
