.manufacture-block {
  color: #444444;
  padding-top: 97px;
  position: relative;
  margin-bottom: 63px;

  iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .manufacture-block__title {
    @include font(17px, 24px);
    font-weight: 700;
    border: 1px solid #ededed;
    border-bottom: none;
    padding: 25px 33px 10px 88px;
    height: 97px;
    margin: 0;
    position: absolute;
    top: 0;

    &::before {
      content: "";
      width: 32px;
      height: 32px;
      position: absolute;
      top: 31px;
      left: 33px;
      background-image: url("../img/icon-video.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .manufacture-block__text {
    @include font(13px, 24px);
    margin: 0;
    margin-top: 2px;
  }

  .manufacture-block__info {
    padding: 27px 33px;
    border: 1px solid #ededed;
    border-top: none;
  }

  .manufacture-block__order {
    @include font(17px, 16px);
    white-space: nowrap;
    margin-top: 25px;
    padding: 16px 24px;
  }

  .manufacture-block__video-preview {
    display: block;
  }

  .manufacture-block__video-wrapper {
    position: relative;
  }

  .manufacture-block__button {
    width: 100px;
    height: 76px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -38px;
    margin-left: -50px;
    cursor: pointer;

    &::before {
      content: "";
      width: 100px;
      height: 76px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../img/icon-play.svg");
      background-repeat: no-repeat;
      background-position: center;
      transition: all $transition-duration $transition-type;
    }

    &:hover {
      &::before {
        transform: scale(1.2);
      }
    }

    &:active {
      &::before {
        transform: scale(0.8);

        @include active-opacity();
      }
    }
  }

  .manufacture-block__description {
    transition: all $transition-duration $transition-type;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

@media (min-width: $tablet-width) {
  .manufacture-block {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-bottom: 63px;

    .manufacture-block__video-wrapper {
      height: 455px;
    }

    .manufacture-block__video-preview {
      display: block;
      width: auto;
    }

    .manufacture-block__title {
      position: relative;
      padding: 38px 105px 0;
      height: auto;

      @include font(20px, 24px);
      border-bottom: none;
      margin-bottom: 31px;

      &::before {
        top: 33px;
        left: 41px;
      }
    }

    .manufacture-block__info {
      border-top: none;
      padding: 0 39px 45px;
    }

    .manufacture-block__text {
      @include font(15px, 30px);
    }

    .manufacture-block__order {
      width: 100%;
      margin-top: 37px;
    }
  }
}

@media (min-width: $desktop-width) {
  .manufacture-block {
    flex-direction: row;
    margin-bottom: 105px;

    .manufacture-block__video-wrapper {
      width: 682px;
      flex-shrink: 0;
    }

    .manufacture-block__title {
      padding: 95px 55px 0 77px;
      flex-direction: column;
      margin-bottom: 31px;

      &::before {
        top: 41px;
        left: 80px;
      }
    }

    .manufacture-block__description {
      display: flex;
      flex-direction: column;
      width: 368px;
    }

    .manufacture-block__info {
      flex-grow: 1;
      padding-left: 77px;
      padding-right: 55px;
    }

    .manufacture-block__order {
      margin-top: 46px;
    }
  }
}
