.page-title {
  background-color: #f1f1f1;
  color: #000000;
  min-height: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  @include font(27px, 30px);
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .page-title {
    padding-bottom: 65px;

    @include font(43px, 50px);
    align-items: flex-end;
    min-height: 213px;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    @include font(53px, 57px);
    padding-bottom: 82px;
    align-items: flex-end;
    min-height: 237px;
  }
}
