.params-group {
  padding: 0;

  .params-group__list {
    @include reset-list;
  }

  .params-group__item {
    &--text {
      margin: 0;
      margin-bottom: 23px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--phone,
    &--email {
      margin: 0;
    }
  }

  .params-group__input {
    &--text,
    &--email {
      @include font(17px, 18px);
      width: 100%;
      border: none;
      border-bottom: 2px solid #444444;
      padding: 19px 0;

      &::placeholder {
        opacity: 0.3;
      }
    }

    &--textarea {
      min-height: 142px;
      border: 2px solid #444444;
      width: 100%;
      padding: 15px;
      resize: none;

      @include font(17px, 18px);
    }
  }

  .params-group__title {
    @include font(17px, 17px);
    color: #63d1bb;
    text-transform: uppercase;
    margin-bottom: 27px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-weight: 700;

    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: #63d1bb;
      width: 198px;
    }

    &--email {
      &::after {
        width: 179px;
      }
    }

    &--phone,
    &--email,
    &--additional {
      margin-bottom: 0;
    }
  }

  .params-group__input-label {
    @include font(17px, 18px);
    font-weight: 700;
    color: #000000;
  }
}

@media (min-width: $tablet-width) {
  .params-group {
    display: flex;
    align-items: flex-start;

    &:nth-child(1) {
      background-color: #f1f1f1;
    }

    .params-group__title {
      width: 167px;
      flex-shrink: 0;

      &::after {
        display: none;
      }
    }

    .params-group__content {
      flex-grow: 1;
    }

    .params-group__item {
      &--textarea {
        margin: 0;
      }

      &--text {
        display: flex;
        align-items: self-start;
        justify-content: space-between;
      }

      &--check {
        width: 50%;
      }
    }

    .params-group__input-label {
      &--person {
        margin-right: 25px;
      }
    }

    .params-group__list {
      &--colors {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .params-group {
    .params-group__title {
      width: 175px;
    }

    .params-group__item {
      &--check {
        width: 30%;
      }
    }

    .params-group__content {
      padding-right: 175px;

      &--colors {
        padding-right: 0;
      }
    }
  }
}
