.popular-sections {
  .popular-sections__link {
    @include font(19px, 24px);
    color: #ffffff;
    display: block;
    min-height: 103px;
    background-color: #63d1bb;

    &:last-child {
      background-color: #56c3b2;
    }
  }
}

@media (min-width: $tablet-width) {
  .popular-sections__links {
    display: flex;
    justify-content: space-between;
  }
  .popular-sections__link {
    @include font(20px, 30px);
    font-weight: 700;
    flex-grow: 1;
  }
}
