.popular-link {
  @include font(19px, 24px);
  color: #ffffff;
  display: flex;
  min-height: 103px;
  background-color: $aqua-color;
  width: $mobile-width;
  padding: 0 $mobile-container-padding;
  margin: 0 auto;
  padding-top: 25px;
  position: relative;

  &--interior,
  &--toy {
    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.5;
    }
  }

  &--interior {
    &::after {
      width: 40px;
      height: 62px;
      right: 36px;
      top: 23px;
      background-image: url("../img/icon-interior.svg");
    }
  }

  &--toy {
    &::after {
      width: 60px;
      height: 59px;
      right: 25px;
      top: 20px;
      background-image: url("../img/icon-toy.svg");
    }
  }

  &:last-child {
    background-color: #56c3b2;
  }

  .popular-link__text {
    width: 50%;
    font-weight: 700;
    margin-bottom: 4px;
  }

  &:hover {
    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .popular-link {
    @include font(20px, 30px);
    font-weight: 700;
    width: 50%;
    min-height: 127px;
    transition: all $transition-duration $transition-type;
    padding: 28px 35px 0;

    &--interior {
      &::after {
        top: 30px;
      }
    }

    &--toy {
      &::after {
        top: 31px;
        right: 34px;
      }
    }

    &:hover {
      margin-top: -5px;
      margin-bottom: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .popular-link {
    .popular-link__text {
      width: 185px;
    }
  }
}
