.popular-sections {
  .popular-sections__link {
    @include font(19px, 24px);
    color: #ffffff;
    display: flex;
    min-height: 103px;
    background-color: #63d1bb;

    &:last-child {
      background-color: #56c3b2;
    }
  }

  .popular-sections__name {
    width: 50%;
    font-weight: 700;
    margin-bottom: 4px;
  }

  .popular-sections__link-inner {
    width: $mobile-width;
    padding: 0 $mobile-container-padding;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $tablet-width) {
  .popular-sections {
    .popular-sections__links {
      position: relative;
      width: $tablet-width;
      padding: 0 $tablet-container-padding;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      &::after {
        @include zigzag();
      }
    }

    .popular-sections__link {
      @include font(20px, 30px);
      font-weight: 700;
      flex-grow: 1;
      width: 50%;
      min-height: 127px;
    }

    .popular-sections__link-inner {
      width: 100%;
      padding-left: 35px;
      padding-right: 35px;
    }

    .popular-sections__name {
      margin-top: -5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .popular-sections {
    .popular-sections__links {
      width: $desktop-width;
    }

    .popular-sections__name {
      width: 185px;
    }
  }
}
