.product {
  .product__link {
    color: inherit;

    @include font(17px, 24px);
    font-weight: 700;

    &:hover {
      @include hover-opacity();
    }

    &:active {
      @include active-opacity();
    }
  }

  .product__params {
    @include font(13px, 30px);
    margin-top: 4px;
    margin-bottom: 19px;
  }

  .product__actions {
    @include font(15px, 24px);
    font-weight: 700;
    border-top: 1px solid #ececec;
    margin: 0;
    padding: 22px 0 0 0;
    display: flex;
    justify-content: space-between;
  }

  .product__info {
    border: 1px solid #ededed;
    padding: 27px 27px 25px;
    transition: all $transition-duration $transition-type;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .product__image {
    display: block;
  }

  .product__name {
    margin: 0;
  }

  .product__buy__basket-icon {
    @include icon-default();

    &:hover {
      @include icon-hover();
    }

    &:active {
      @include icon-active();
    }
  }
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;

    .product__image-wrapper {
      width: 50%;
    }

    .product__image {
      width: 334px;
      height: auto;
    }

    .product__info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 25px;
    }

    .product__link {
      @include font(20px, 24px);
    }

    .product__params {
      font-size: 15px;
    }

    .product__name,
    .product__params {
      margin: 0;
    }

    .product__name {
      margin-bottom: 4px;
      max-width: 240px;
    }

    .product__price {
      font-size: 17px;
      margin-left: 3px;
    }

    .product__actions {
      margin-top: auto;
    }

    .product__buy {
      margin-right: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    display: flex;
    flex-direction: column;
    width: 316px;

    .product__image {
      width: 100%;
    }

    .product__inner {
      display: flex;
    }

    .product__image-wrapper {
      width: 100%;
      background-color: $bg-grey; /*temp*/
      display: block;
      min-height: 462px;
    }

    .product__price {
      margin-left: 0;
    }

    .product__info {
      width: 100%;
      flex-grow: 1;
      min-height: 197px;
    }
  }
}
