.product {
  .product__link {
    color: inherit;

    @include font(17px, 24px);
    font-weight: 700;
  }

  .product__params {
    @include font(13px, 30px);
  }

  .product__actions {
    @include font(15px, 24px);
    font-weight: 700;
    border-top: 1px solid #ececec;
    margin: 0;
    padding: 22px 0 0 0;
    display: flex;
    justify-content: space-between;
  }

  .product__info {
    border: 1px solid #ededed;
    padding: 30px 27px;
  }

  .product__image {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;

    .product__image-wrapper {
      width: 50%;
      background-color: $bg-grey;/*temp*/
      min-height: 334px;/*temp*/
    }

    .product__info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .product__name,
    .product__params {
      margin: 0;
    }

    .product__actions {
      margin-top: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    display: flex;
    flex-direction: column;
    width: 315px;

    .product__inner {
      display: flex;
    }

    .product__image-wrapper {
      width: 100%;
      background-color: $bg-grey;/*temp*/
      display: block;
      min-height: 462px;
    }


    .product__info {
      width: 100%;
      flex-grow: 1;
    }
  }
}
