.product-list {
  .product-list__item {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
