.product {
  .product__link {
    color: inherit;

    @include font(17px, 24px);
    font-weight: 700;
  }

  .product__params {
    @include font(13px, 30px);
  }

  .product__actions {
    @include font(15px, 24px);
    font-weight: 700;
    border-top: 1px solid #ececec;
    margin: 0;
    padding: 22px 0 0 0;
    display: flex;
    justify-content: space-between;
  }

  .product__info {
    border: 1px solid #ededed;
    padding: 30px 27px;
  }

  .product__image {
    display: block;
  }
}
