.reviews {
  margin-bottom: 35px;

  .reviews__container {
    padding-bottom: 50px;
    position: relative;

    &::after {
      content: "";
      background-image: url("../img/bg-zigzag-line.svg");
      height: 6px;
      background-size: 319px;
      background-repeat: repeat-x;
      width: 100%;
      position: absolute;
      bottom: -2px;
      background-position: 8px 0;
      left: 0;
    }
  }


  .reviews__title {
    @include font(25px, 30px);
    margin: 0;
    margin-bottom: 23px;
  }

  .reviews__list {
    @include reset-list;
  }

  .reviews__content {
    margin: 0;
  }

  .reviews__text {
    @include font(15px, 30px);
    margin: 0;
  }

  .reviews__author-info {
    margin-top: 28px;
  }

  .reviews__author-name {
    @include font(17px, 24px);
    font-weight: 700;
    color: #000000;
    margin-bottom: 7px;
    display: block;
  }

  .reviews__author-contact {
    font-size: 17px;
  }

  .reviews__navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    margin-bottom: 38px;
  }

  .reviews__control {
    width: 50%;
    background-color: #ffffff;
    border: 1px solid #ececec;
    padding: 11px 0 10px;
    cursor: pointer;

    &:hover {
      @include hover-opacity();
    }

    &:active {
      @include active-opacity();
    }

    &--next {
      border-left: none;
    }
  }

  .reviews__write {
    width: 100%;
    padding-top: 13px;
    padding-bottom: 15px;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 130px;

    &::after {
      height: 17px;
      bottom: -17px;
    }

    .reviews__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-image: url("../img/review@1x.jpg");
      background-position: 0 0;
      background-repeat: no-repeat;
      padding-top: 80px;
      padding-bottom: 52px;

      &::after {
        height: 17px;
        background-size: 772px;
        bottom: -85px;
        background-position: -20px 0;
      }
    }

    .reviews__author-name,
    .reviews__author-contact {
      display: block;
    }

    .reviews__title {
      @include font(43px, 50px);
      margin: -4px 0 0 -4px;
      order: 1;
    }

    .reviews__author-name {
      font-size: 18px;
    }

    .reviews__list {
      order: 3;
      margin-top: 44px;
    }

    .reviews__text {
      @include font(17px, 30px);
    }

    .reviews__write {
      @include font(17px, 20px);
      width: auto;
      align-self: center;
      order: 2;
      padding: 14px 38px;
    }

    .reviews__author-info {
      order: 4;
      margin-top: 58px;
    }

    .reviews__navigation {
      order: 5;
      position: absolute;
      right: 50px;
      bottom: 52px;
      margin: 0;
    }

    .reviews__control {
      border: none;
      padding: 7px 0 7px;

      &--prev {
        margin-right: 37px;
      }

      &--next {
        margin-right: 19px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-bottom: 163px;

    &::after {
      height: 23px;
      bottom: -23px;
    }

    .reviews__container {
      padding-left: 225px;
      padding-bottom: 100px;
      background-position-x: 50px;

      &::after {
        height: 23px;
        background-size: 1050px;
        bottom: -90px;
        background-position: -26px 0;
        width: 1050px;
        left: 50px;
      }
    }

    .reviews__navigation {
      bottom: 100px;
    }

    .reviews__title {
      @include font(53px, 57px);
      margin-top: -9px;
    }

    .reviews__author-info {
      margin-top: 40px;
    }

    .reviews__author-name {
      font-size: 17px;
    }
  }
}
