.social-list {
  @include reset-list;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;

  .social-list__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    border-bottom: none;
    padding: 0;
  }
}
