.week-product {
  @include font(15px, 24px);
  position: relative;
  margin-bottom: 29px;

  .week-product__container {
    position: relative;
    padding-bottom: 40px;

    &::after {
      content: "";
      background-image: url("../img/bg-zigzag-line.svg");
      height: 6px;
      background-size: 319px;
      background-repeat: repeat-x;
      width: 100%;
      position: absolute;
      bottom: -2px;
      background-position: 8px 0;
      left: 0;
    }
  }

  .week-product__image {
    display: block;
  }

  .week-product__header {
    margin-bottom: 20px;
  }

  .week-product__section-name {
    @include font(25px, 30px);
    font-weight: 700;
    color: #000000;
    margin-top: 27px;
    margin-bottom: 4px;
  }

  .week-product__type {
    @include font(17px, 20px);
    font-weight: 700;
    color: $aqua-color;
    text-transform: uppercase;
  }

  .week-product__info {
    padding-bottom: 125px;
    position: relative;
  }

  .week-product__text {
    margin: 0 0 25px 0;
  }

  .week-product__price {
    @include font(17px, 24px);
    font-weight: 700;
    margin: 0 0 26px;
  }

  .week-product__buy {
    @include font(17px, 20px);
    font-weight: 700;
    color: inherit;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .week-product__buy-btn {
    padding-bottom: 14px;
    padding-top: 14px;
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .week-product {
    margin-bottom: 48px;

    .week-product__container {
      padding-bottom: 70px;

      &::after {
        height: 17px;
        background-size: 772px;
        bottom: 0;
        background-position: -20px 0;
      }
    }

    .week-product__section-name {
      @include font(43px, 50px);
      margin-left: -3px;
    }

    .week-product__type {
      @include font(17px, 17px);
      width: 98px;
      text-align: center;
      margin-bottom: 9px;
      margin-right: 14px;
    }

    .week-product__text {
      @include font(17px, 30px);
      max-width: 295px;
      margin-bottom: 42px;
    }

    .week-product__image {
      width: 333px;
      height: 404px;
      margin-top: 8px;
    }

    .week-product__header {
      margin-bottom: 45px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .week-product__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 0;
    }

    .week-product__description {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-right: 43px;
    }

    .week-product__buy {
      width: 290px;
      position: static;
      margin-top: auto;
      margin-left: -1px;
    }

    .week-product__price {
      @include font(20px, 24px);
      margin: 0 0 34px;
    }
  }
}

@media (min-width: $desktop-width) {
  .week-product {
    margin-bottom: 55px;

    .week-product__container {
      padding-top: 79px;
      padding-bottom: 100px;

      &::after {
        height: 23px;
        background-size: 1050px;
        bottom: 3px;
        background-position: -26px 0;
        width: 1050px;
        left: auto;
      }
    }

    .week-product__header {
      justify-content: flex-start;
      margin-bottom: 45px;
    }

    .week-product__section-name {
      @include font(53px, 57px);
      order: 2;
      z-index: 2;
      margin-bottom: 0;
    }

    .week-product__type {
      width: 175px;
      order: 1;
      margin-right: 0;
      padding: 0 30px 0 20px;
    }

    .week-product__info {
      padding-left: 175px;
      padding-top: 3px;
    }

    .week-product__image {
      width: 525px;
      height: 636px;
      margin-top: -158px;
    }

    .week-product__buy {
      margin-left: 0;
    }

    .week-product__description {
      width: auto;
    }

    .week-product__text {
      margin-bottom: 53px;
    }
  }
}
