@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font($s, $lh) {
  font-size: $s;
  line-height: $lh;
}

@mixin hover-opacity() {
  opacity: 0.6;
}

@mixin active-opacity() {
  opacity: 0.3;
}

@mixin icon-default() {
  fill: #221f1f;
  opacity: 0.2;
}

@mixin icon-hover() {
  fill: $aqua-color;
  opacity: 1;
}

@mixin icon-active() {
  opacity: 0.3;
}
