$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

$bg-white: #ffffff;
$bg-grey: #fbfbfb;

$mobile-container-padding: 30px;
$tablet-container-padding: 50px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$transition-type: ease-in;
$transition-duration: 0.2s;

$aqua-color: #63d1bb;
$footer-aqua-color: #46c1ae;
